      body {
          font: 400 15px/1.8 Lato, sans-serif;
          color: #777;
          min-height: 100%;
      }
      p, h2, h4 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }
      
      .sect {
        border-left: solid 0.5px green;
        border-right: solid 0.5px green;
      }

      .we {
        border-left: solid 0.5px grey;
        padding-left: 10px;
      }

      #p {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      #well h2{
        text-transform: uppercase;
        margin-bottom: 2px;
      }

      #well p {
        font-size: 16px;
        margin: 0px;
      }

      #tell p {
        font-size: 16px;
        margin: 0px;
      }

      p.norm{
        line-height: 100%;
        padding-top: 6px;
      }

      h3, h4 {
          margin: 10px 0 30px 0;
          font-size: 20px;
          color: #111;
      }**/
      
      .nav-tabs li a {
          color: #777;
      }
      .navbar {
          font-family: Montserrat, sans-serif;
          margin-bottom: 0;
          background-color: green;
          border: 0;
          font-size: 11px !important;
          letter-spacing: 4px;
          opacity: 0.9;
      }
      .navbar li a, .navbar .navbar-brand { 
          color: #d5d5d5 !important;
      }
      .navbar-nav li a:hover {
          color: #fff !important;
      }
      .navbar-nav li.active a {
          color: #fff !important;
          background-color: #29292c !important;
      }
      .navbar-default .navbar-toggle {
          border-color: transparent;
      }
      .open .dropdown-toggle {
          color: #fff;
          background-color: #555 !important;
      }
      .dropdown-menu li a {
          color: #000 !important;
      }
      .dropdown-menu li a:hover {
          background-color: red !important;
      }

      .jumbotron { 
          margin-top: 8%;
          width: 60%;
          margin-left: 20%;
          background-color: white; /*#f4511e Orange */
          /*color: green;*/
      }
      .row .col-md-6 p{
          font-size: 25px;
      }
      footer {
          background-color: #2d2d30;
          color: #f5f5f5;
          padding: 32px;
          margin-bottom: 0%;
      }
      footer a {
          color: #f5f5f5;
      }
      footer a:hover {
          color: #777;
          text-decoration: none;
      }  
      .form-control {
          border-radius: 0;
      }
      textarea {
          resize: none;
      }

      .glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 0px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.label {
    font-size: 20px;
    color: black;
}

.right {
    margin-left: -5px; 
}

.left {
    margin-left: -10px; 
}
/*
.label {
    font-size: 20px;
    float: left;
    color: black;
}
.label-default {
    font-size: 20px;
    float: right;
    color: black;
}
*/

.badge {
   font-size: 25px; 
   margin-left: -10px;"
  }

 #img1 {
     margin-bottom: 5px;
     margin-top: 5px;
     height: 80px; 
     width: 100%;
 }

 #img2 {
     height: 30px; 
     width: 30px;
 }

